COCKROACH_USER=your_user
COCKROACH_PASSWORD=your_password
COCKROACH_HOST=your_host
COCKROACH_PORT=26257
COCKROACH_DB=defaultdb

HF_USERNAME=YOUR_USERNAME
HF_SPACE_NAME=property-api
HF_SPACES_API_URL=https://YOUR_USERNAME-nzlouis-property-api.hf.space
HF_TOKEN=HF_TOKEN
